.profile-container
{
    display : flex;
    align-items: left;
    text-align: left;
    width: inherit;
    height: inherit;
    margin-top: 15%;
    margin-left: 15%;
}

.profile-details-name{
    font-family: Rasa-Bold;
    font-weight: bold;
    font-size: 72px;
}

.profile-details-role{
    font-family: "Poppins Regular";
    font-size: 32px;
}

#bgimage{
    position:fixed;
    top:3vw;
    left:90vw;
    height:50vw;
    opacity: 75%;
    animation: goingin 3s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes goingin {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-60%);
    }
}